.site-header
  background: rgba(0,0,0,0.75)
  position: relative

.container-header 
  padding: 0

.site-branding
  margin: 8px auto 8px 0
  .site-title
    margin: 0
    a
      font-size: 20px
      line-height: 1
      letter-spacing: 1.5px
      text-transform: uppercase
      color: #ffffff
      text-decoration: none

.site-description
  color: #fff
  margin: 0

.custom-logo-link img
  padding: 10px 0

.site-header-main 
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap

.menu-toggle
  color: #ffffff
  font-size: 35px
  padding: 10px
  margin: 0
  background: transparent
  border: none
  .menu-icon
    div
      width: 30px
      height: 5px
      background: #ffffff
      margin: 5px
      transition: all 0.35s
      border-radius: 2px

  &.toggled-on .line_one
      transform: rotate(45deg) translate(7px, 7px)

  &.toggled-on .line_two
      opacity: 0

  &.toggled-on .line_three
      transform: rotate(-45deg) translate(7px, -7px)

  &:hover
    background-color: transparent

  &:focus
    border: none
    box-shadow: none



.site-header-menu 
  display: none
  -webkit-flex: 0 1 100%
  -ms-flex: 0 1 100%
  flex: 0 1 100%
  margin: 14px 0
  background-color: #ffffff

  &.toggled-on
    display: block


.dropdown-toggle 
  background-color: transparent
  border: 0
  border-radius: 0
  color: #1a1a1a
  content: ""
  height: 48px
  padding: 0
  position: absolute
  right: 0
  text-transform: none
  top: 0
  width: 48px

  &:after
    border: 0 solid #d1d1d1
    border-left-width: 1px
    content: "+"
    font-size: 24px
    left: 1px
    position: relative
    width: 48px
    padding: 10px

  &.toggled-on
    &:after
      content: "-"


.main-navigation
  width: 100%
  position: absolute
  background: rgba(0,0,0,0.9)
  left: 0

  ul
    list-style: none
    margin: 0

    .toggled-on
      display: block

    ul
      display: none
      margin-left: 40px

  li
    border-top: 1px solid #d1d1d1
    position: relative
    padding: 0
    width: 100%
    text-align: left
  a
    text-transform: uppercase
    display: block
    outline-offset: -1px
    text-decoration: none
    color: #505460
    font-weight: 400
    font-size: 15px
    line-height: 1.7
    letter-spacing: 1.5px
    padding: 33px 40px


.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a 
  font-weight: 700


.main-navigation .primary-menu 
  border: 1px solid #d1d1d1
  border-top: 0
  padding: 0


.transparent-header 
  position: absolute
  top: 0
  width: 100%
  z-index: 3
  border: none


.transparent-header .site-branding .site-title a,
.transparent-header .site-description
  color: #ffffff


.admin-bar .transparent-header 
  top: 32px


.customize-partial-edit-shortcut-capri_big_title_image
  z-index: 4



@media screen and (min-width: 992px)



  .site-header-main
    -webkit-align-items: flex-start
    -ms-flex-align: start
    align-items: flex-start


  .site-branding,
  .site-header-menu, .header-image
    margin-top: 1.75em
    margin-bottom: 1.75em


  .site-title
    font-size: 28px
    font-size: 1.75rem
    line-height: 1.25


  .site-description
    display: block


  .menu-toggle
    display: none


  .site-branding, .site-header-menu, .header-image
    margin-top: 1.75em
    margin-bottom: 1.75em
    flex: 1


  .site-header-menu.toggled-on, .no-js .site-header-menu
    display: block
    padding-left: 50px
    flex: 3


  .main-navigation li
    width: auto


  .main-navigation
    width: initial
    position: relative
    background: transparent
    left: 0

  .main-navigation
    margin: 0 -0.875em
    float: right


  .main-navigation .primary-menu,
  .main-navigation .primary-menu > li
    border: 0


  .main-navigation .primary-menu > li.menu-item-has-children:hover:after,
  .main-navigation ul ul li.menu-item-has-children:hover:after
    content: "-"


  .main-navigation .primary-menu > li
    float: left


  .main-navigation a
    outline-offset: -8px
    padding: 13px 20px
    white-space: nowrap


  .main-navigation .menu-item-has-children:after
    content: "+"
    position: absolute
    top: 50%
    right: 5px
    transform: translateY(-50%)


  .dropdown-toggle,
  .main-navigation ul .dropdown-toggle.toggled-on,
  .menu-toggle
    display: none


  .main-navigation ul ul
    border-bottom: 1px solid #d1d1d1
    display: block
    left: -999em
    margin: 0
    position: absolute
    z-index: 99999


  .main-navigation ul ul ul
    top: -1px


  .main-navigation ul ul li
    background-color: #fff
    border: 1px solid #d1d1d1
    border-bottom-width: 0
    width: 100%


  .main-navigation ul ul a
    white-space: normal
    width: 12.6875em


  .main-navigation li:hover > a,
  .main-navigation li.focus > a
    color: #e7dd71


  .main-navigation li:hover > ul,
  .main-navigation li.focus > ul
    left: auto
    right: 0
    top: auto


  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul
    left: auto
    right: 100%


  .main-navigation ul ul:after
    border-color: #fff transparent
    border-width: 0 8px 8px
    right: 11px
    top: -7px


  .site-header-menu
    display: block
    -webkit-flex: 0 1 auto
    -ms-flex: 0 1 auto
    flex: 0 1 auto


  .transparent-header .site-header-menu
    background-color: transparent


  .transparent-header .main-navigation .primary-menu > li > a,
  .transparent-header .main-navigation .primary-menu > li.menu-item-has-children:after
    color: #ffffff


  .header-shopping-cart .fa
    color: #ffffff


  .blog .pagination
    margin-bottom: 150px