$accentColor : #f0ad4e
$accentIntense : #ec971f
$textColor: #373a3c
$secondaryColor: #888888
$buttonText: #fff

.btn-yellow
  color: $buttonText
  background-color: $accentColor
  border-color: $accentColor

.btn-yellow:hover
  color: $buttonText
  background-color: $accentIntense
  border-color: $accentIntense

.btn-yellow.btn-outline
  color: $accentColor
  background-color: transparent


.btn-outline:hover
  color: $buttonText
  background-color: $accentColor
  border-color: $accentColor
